#gradeOverview {
    display: block;
    position:absolute;
    z-index: 5;
    bottom: 5px;
    right: 5px;
    width: 300px;
    height: 200px;
    background-color: #dddddd;
}

#gradeOverviewTable {
    display: block;
    width: inherit;
    height: inherit;
    background-color: inherit;
}

.courseGrade {
    text-align-all: right;
}